<!-- views/home.ejs -->
<!doctype html>
<html lang="en">
<head>
    <title>ProjectI</title>
    <%- include('partial/head', {}); %>
	<script src="js/home.js"></script>
    <style>
    	select {
    		margin-bottom: 10px;
    	}
    	.content-area {
    		margin: auto;
    	}
    	div.user-ad-inner {
    		padding: 0px;
   
    	}
    	div.user-data {
    		padding: 0px;

    	}
    	div.nick {
    		padding: 0px;
    	}
    	div.user-ad-outer {
    		padding-left: 8px;
    		padding-right: 8px;
    	}
    	a.nick {
    		display: block;
    		padding: 0px;
    	}
    	img.game-logo {
    		padding-top: 10px;
    		padding-bottom: 10px;
    		width: 35%;
    	}
    	div.user-data {
    		padding-bottom: 10px;
    	}
    </style>
</head>
<body>
<div class="container-fluid">
    <%- include('partial/navbar', {user: user, url: url}); %>
    
    <div class="row select-area col-md-12">
    	<div class="col-md-12">
	    	<select required class="form-control game">
				<option value="" disabled selected hidden>Game name</option>
				<% var i=0; %>
				<% for(i=0; i<games.length; i++) { %>
					<% var str = games[i].name.replace(/\s/g, ''); %>
					<option value= <%= str %> ><%= games[i].name %></option>
				<% } %>
			</select>
		</div>
		<div class="col-md-2">
			<select required class="form-control hidden modeName">
				<option value="" disabled selected hidden>Mode name</option>
				
			</select>
		</div>

		<div class="col-md-2">
			<select required class="form-control hidden modePlayers">
				<option value="" disabled selected hidden>Size of final group</option>
				<% for(var j=1; j<13; j++) { %>
					<option class="" value= <%= j %> ><%= j %></option>
				<% } %>
			</select>
		</div>
		
		<div class="col-md-2">
			<select required class="form-control hidden yourGroup">
				<option value="" disabled selected hidden>Your group size</option>
			</select>
		</div>

		<div class="col-md-2">
	    	<select required class="form-control hidden rank">
				<option value="" disabled selected hidden>Rank name</option>
			</select>
		</div>
		<div class="col-md-2">
	    	<select required class="form-control hidden platform">
				<option value="" disabled selected hidden>Platform</option>
			</select>
		</div>
		<div class="col-md-2">
	    	<select required class="form-control hidden region">
				<option value="" disabled selected hidden>Region</option>
			</select>
		</div>
	</div>

	<div class="row content-area col-sm-12">
		<!--<div id="asd" class="user-ad-outer col-md-3 col-sm-4 col-xs-12 ">
			<div class="user-ad-inner panel panel-primary col-md-12 text-center">
				<a class="nick panel-heading" href="whatever you want"> Nick </a>
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Overwatch_circle_logo.svg/500px-Overwatch_circle_logo.svg.png" alt="..." class="rounded-circle game-logo">
				<div class="user-data panel-body">
					<table width="100%" class="table-striped"><tbody>
						<tr><td>Mode</td> <td class="text-center"><kbd>Competitive</kbd></td></tr>
						<tr><td>Maximum group</td> <td class="text-center"><kbd>6</kbd></td></tr>
						<tr><td>Rank</td> <td class="text-center"><kbd>Platinum</kbd></td></tr>
						<tr><td>Size of group</td> <td class="text-center"><kbd>1</kbd></td></tr>
						<tr><td>Platform</td> <td class="text-center"><kbd>PC</kbd></td></tr>
						<tr><td>Region</td> <td class="text-center"><kbd>EU</kbd></td></tr>
					</tbody></table>
				</div>
			</div>
		</div>-->
	</div>
	<p id="loading">
		<img src="images/loading.gif" alt="Loading…" />
	</p>
</div><!-- /.container-fluid -->



<script>
	$(document).ready(function() {

	});
</script>
</body>

</html>
