<!-- views/home.ejs -->
<!doctype html>
<html lang="en">
<head>
    <title>ProjectI</title>
    <%- include('partial/head', {}); %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	<script src="js/home.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/home.css"/>
		

</head>
<body>
	<%- include('partial/navbar', {user: user, url: url, mineProfile: null}); %>
<div class="container ">
    <div class="row select-area col-md-12 text-center">
    	<div class="col-md-12">
	    	<select required class="form-control game">
				<option value="" disabled selected hidden>Game name</option>
				<% var i=0; %>
				<% for(i=0; i<games.length; i++) { %>
					<% var str = games[i].name.replace(/\s/g, ''); %>
					<option value= <%= str %> ><%= games[i].name %></option>
				<% } %>
			</select>
		</div>
		<div class="col-md-2">
			<select required class="form-control hidden modeName">
				<option value="" disabled selected hidden>Mode name</option>
				
			</select>
		</div>

		<div class="col-md-2">
			<select required class="form-control hidden modePlayers">
				<option value="" disabled selected hidden>Size of final group</option>
				<% for(var j=1; j<13; j++) { %>
					<option class="" value= <%= j %> ><%= j %></option>
				<% } %>
			</select>
		</div>
		
		<div class="col-md-2">
			<select required class="form-control hidden yourGroup">
				<option value="" disabled selected hidden>Your group size</option>
			</select>
		</div>

		<div class="col-md-2">
	    	<select required class="form-control hidden rank">
				<option value="" disabled selected hidden>Rank name</option>
			</select>
		</div>
		<div class="col-md-2">
	    	<select required class="form-control hidden platform">
				<option value="" disabled selected hidden>Platform</option>
			</select>
		</div>
		<div class="col-md-2">
	    	<select required class="form-control hidden region">
				<option value="" disabled selected hidden>Region</option>
			</select>
		</div>
		<!--<input type="checkbox" name="auto">Automatic match-->
		<div class="form-check form-check-inline">
			
			<!--<label class="form-check-label" for="checkbox">Automatic match</label>-->
			<input class="form-check-input" type="checkbox" name="auto" data-label-text="Automatic">
			<button class="select create-new btn btn-info btn-md">Create new ad!</button>
		</div>
		
	</div>

	
	<div class="row col-md-12 text-center buttons">
		<button class="select reverse col-md-6 col-xs-12 btn btn-xs">reverse</button>
		<button class="select reset col-md-6 col-xs-12 btn btn-xs">reset</button>
	</div>
	<div class="info row col-md-12 text-center">
		<button class="new-ads btn btn-warning btn-block glyphicon glyphicon-exclamation-sign"> New content! Click to show.</button>
	</div>
	<div class="row content-area  col-md-12 text-center">

	</div>
	<div class="hidden-xs col-sm-3 pick fixed text-center">
		<span class="group">?/?</span>
		<div class="pick-data">	
			<br>
			<table width="100%" class="table">
				<thead class="thead-inverse">
					<tr> <th class="text-left">Game:</th><th class="text-center gameName"></th></tr>
					<tr> <th class="text-left">Mode:</th><th class="text-center modeName"></th></tr>
					<tr> <th class="text-left">Maximum group:</th><th class="text-center modePlayers"></th></tr>
					<tr> <th class="text-left">Rank:</th><th class="text-center rank"></th></tr>
					<tr> <th class="text-left">Platform:</th><th class="text-center platform"></th></tr>
					<tr> <th class="text-left">Region:</th><th class="text-center region"></th></tr>
				</thead>
			</table>
		</div>
		Your team
		<div class="picked-users">
		</div>
		<button class="btn btn btn-warning btn-smd">Send</button>	
	</div>
	<button class="hidden-xs fixed picked btn btn-md btn-danger fa fa-plus-circle fa-2x"></button>
	
	<div class="row col-xs-12 hidden-xs hidden-sm hidden-md hidden-lg mobile pick text-center">
		<span class="group">?/?</span>
		<div class="pick-data">	
			<br>
			<table width="100%" class="table">
				<thead class="thead-inverse">
					<tr> <th class="text-left">Game:</th><th class="text-center gameName"></th></tr>
					<tr> <th class="text-left">Mode:</th><th class="text-center modeName"></th></tr>
					<tr> <th class="text-left">Maximum group:</th><th class="text-center modePlayers"></th></tr>
					<tr> <th class="text-left">Rank:</th><th class="text-center rank"></th></tr>
					<tr> <th class="text-left">Platform:</th><th class="text-center platform"></th></tr>
					<tr> <th class="text-left">Region:</th><th class="text-center region"></th></tr>
				</thead>
			</table>
			
		</div>
		Your team
		<div class="picked-users">
		</div>
		<button class="btn btn-warning btn-sm">Send</button>
			
	</div>


	<div class="row info text-center col-xs-12">
		<div class="loader"></div>
		<span class="no-ads"></span>
		<!--<button class="no-ads btn btn-warning btn-block glyphicon glyphicon-refresh"> No more ads.</button>-->
	</div>


	


  		<div class="mobile-nav text-center col-xs-12 align-middle visible-xs">
  			<ul class="mobile-nav">
  				<li class="col-xs-6 align-middle active">Ads</li>
  				<li class="col-xs-6 align-middle">Picks</li>
  			</ul>
  		</div>
</div><!-- /.container-fluid -->



<script>

</script>
</body>

</html>
