<!-- views/home.ejs -->
<!doctype html>
<html lang="en">
<head>
<title>ProjectI - profile page</title>
<%- include('partial/head', {}); %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
<script src="/js/profile.js"></script>
<script src="/js/chart.js"></script>
<link rel="stylesheet" type="text/css" href="/css/profile.css"/>
	

</head>
<body>
<%- include('partial/navbar', {user: user, url: url, mineProfile: mineProfile}); %>

<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<canvas id="myChart1" width="400" height="300"></canvas>
		</div>
		<div class="col-sm-8">
			<canvas id="myChart2" width="400" height="150"></canvas>
		</div>
	</div>
	<div class="row">
		<div class="games col-xs-12 col-md-12">
			<% var arr = [] %>
			<% for(i=0; i<userGames.length; i++) { %>
				<% var str = userGames[i].name.replace(/\s/g, ''); %>
				<% arr.push(str); %>
			<% } %>
			<% function onlyUnique(value, index, self) { %>
			    <% return self.indexOf(value) === index; %>
			<% } %>
			<% var unique = arr.filter( onlyUnique ); %>


			<% for(i=0; i<unique.length; i++) { %>
				<img src=/img/<%= unique[i] %>.png alt= <%= unique[i] %> class="img-circle game-logo">
			<% } %>

			<% if (mineProfile) { %>
				<img src="/img/add2.png" alt="add" class="img-circle game-logo add">
			<% } %>
		</div>
	</div>
	<div class="add-games row">
		<div class="col-md-2">
			<select required class="form-control game">
				<option value="" disabled selected hidden>Game name</option>
				<% for(i=0; i<games.length; i++) { %>
					<% var str = games[i].name.replace(/\s/g, ''); %>
					<option value= <%= str %> ><%= games[i].name %></option>
				<% } %>
			</select>
		</div>
		<div class="col-md-2">
			<select required class="form-control platform">
				<option value="" disabled selected hidden>Platform</option>
				
			</select>
		</div>
		<div class="col-md-2">
			<select required class="form-control region">
				<option value="" disabled selected hidden>Region</option>
				
			</select>
		</div>
		<div class="col-md-2  col-xs-8 col-sm-10">
			<input placeholder="<%=user%>" type="text" class="form-control" name="displayName">
		</div>
		<div class="col-xs-4 col-sm-2">
			<button class="glyphicon glyphicon-ok add btn btn-warning btn-md"></button>
			<button class="glyphicon glyphicon-remove cancel btn btn-warning btn-md"></button>
		</div>
	</div>
	<div class="row">
		<div id="games" class="over-table col-md-12 col-sm-12 col-xs-12 text-center">
			<table width="100%" class="table table-striped">
				<thead class="thead-inverse">
					<tr>
						<th class="text-center">Game</th>
						<th class="text-center">Nick</th>
						<th class="text-center">Platform</th>
						<th class="text-center">Region</th>
						<% if (mineProfile) { %>
							<th class="text-center">Action</th>
						<% } %>
					</tr>
				</thead>
				<tbody>
					<% for(i=0; i<userGames.length; i++) { %>
						<tr>
							<% var str = userGames[i].name; %>
							<td class="text-center"><%=str%></td>
							<td class="text-center"><%=userGames[i].account%></td>
							<td class="text-center"><%=userGames[i].platform%></td>
							<td class="text-center"><%=userGames[i].region%></td>

							<% if (mineProfile) { %>
								<td class="text-center">
									<button class="glyphicon glyphicon-remove btn btn-warning btn-xs"></button>					
								</td>
							<% } %>
						</tr>
					<% } %>
					
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div id="logs" class="over-table col-md-8 col-sm-8 col-xs-12 text-center">
			<table width="100%" class="table table-striped">
				<thead class="thead-inverse">
					<tr> 
						<th class="text-center">Game</th>
						<th class="text-center">Mode</th>						
						<th class="text-center">Date</th>
						<% if (mineProfile) { %>
							<th class="text-center">Action</th>	
						<% } %>	
					</tr>
				</thead>
				<tbody>
					<tr class="more-history">
						<% if (mineProfile) { %>
							<td colspan="4" class="text-center ">
								<button class="more-history btn btn-warning btn-block">More</button>
							</td>
						<% } else { %>
							<td colspan="3" class="text-center">
								<button class="more-history btn btn-warning btn-block">More</button>
							</td>
						<% } %>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="specific-log" class="over-table col-md-4 col-sm-4 col-xs-12">
			<table width="100%" class="table table-striped">
				<thead class="thead-inverse">
					<tr>
						<th colspan="2" class="text-center">Info</th>
					</tr>
				</thead>
				<tbody>
					<tr> 
						<td class="">Game</td> 
						<td class="text-center game"></td>
					</tr>
					<tr> 
						<td class="">Mode</td> 
						<td class="text-center mode"></td>
					</tr>
					<tr> 
						<td class="">Your group</td>
						<td class="text-center your-group"></td> 
					</tr>
					<tr> 
						<td class="">Maximum group</td> 
						<td class="text-center maximum-group"></td>
					</tr>
					<tr> 
						<td class="">Rank</td> 
						<td class="text-center rank"></td>
					</tr>
					<tr> 
						<td class="">Platform</td> 
						<td class="text-center platform"></td>
					</tr>
					<tr> 
						<td class="">Region</td> 
						<td class="text-center region"></td>
					</tr>
					<tr> 
						<td class="">Start</td> 
						<td class="text-center start"></td>
					</tr>
					<tr> 
						<td class="">End</td> 
						<td class="text-center end"></td>
					</tr>
					<tr> 
						<td class="">Active</td> 
						<td class="text-center is-actv"></td>
					</tr>
					<tr> 
						<td class="">Success</td> 
						<td class="text-center is-success"></td>
					</tr>
					<tr>
						<td class="">Players</td> 
						<td class="text-center players">
							
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	



<!--<p id="loading">
	<img src="images/loading.gif" alt="Loading…" />
</p>-->
</div><!-- /.container-fluid -->
<script>
	var displayName = $('input[name=nick]').val();
</script>
</body>

</html>