<!-- views/home.ejs -->
<!doctype html>
<html lang="en">
<head>
<title>ProjectI - profile page</title>
<%- include('partial/head', {}); %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.js"></script>
<script src="/js/profile.js"></script>
<style>
	img.game-logo {
		padding-top: 10px;
		padding-bottom: 10px;
		width: 35%;
	}
	.panel-primary, .panel-primary>.panel-heading {
		background-color: #28292f;
		border-color: #28292f;
	}
	.panel-primary>.panel-heading:hover {
		background-color: #000000;
	}

	.table-striped>tbody>tr:nth-child(odd) {
	   background-color: #30384a;
	}
	body {
		background-color: #242d44;
	}
	body {
		min-width: 370px;
	}
	div.container * {
		color: white;
	}
	table {
		background-color: #272d35;
		border: 1px solid;
		border-color: white;
		/*border-radius: 26px;
	    -moz-border-radius: 26px;
	    -webkit-border-radius: 26px;*/
	    
	}
	.over-table {
		padding-left: 10px;
	    padding-right: 10px;
	}
	select option, select {
		background-color: #99aab5 !important;
		color: #000000 !important;

	}
	div.container * input {
		background-color: #99aab5 !important;
		color: #000000 !important;
	}
	div.container * input::placeholder {
		color: #ffffff !important;
	}

	div.container * button {
		background-color: #ff8d07;
		border-color: #ff8d07;
		border-radius: 26px;
	    -moz-border-radius: 26px;
	    -webkit-border-radius: 26px;
	}
	div.container * button:hover {
		background-color: #ffbf0c;
		border-color: #ffbf0c;

	}
	
	.more-history{
		width: 80%;
		margin: auto;
	}
	div.container * a {
		color: #ff8d07;
	}
	div.container * a:hover {
		color: white;
	}






	.grayscale {
	    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		filter: grayscale(100%);
	}

	.blur {
		-webkit-filter: blur(2px);
		filter: blur(2px);
	}

	.sepia {
		-webkit-filter: sepia(100%);
		filter:sepia(100%);
	}

	.red-border {
		border-color: red;
	}

	img.game-logo {
		padding-top: 10px;
		padding-bottom: 10px;
		width: 100px;
	}
	img.game-logo.add {
		filter:opacity(30%);
	}
	img.game-logo.add:hover {
		filter:opacity(100%);
	}
	img.game-logo.add.active {
		filter:opacity(100%);
	}
	img.game-logo.add.active:hover {
		filter:opacity(30%);
	}

	
	select {
		margin-bottom: 10px;
	}
	.add-games {
		display: none;
	}
	.add-games > div > button {
		padding: 8px;
		margin-bottom: 10px;
	}

</style>
	

</head>
<body>
<%- include('partial/navbar', {user: user, url: url, mineProfile: mineProfile}); %>

<div class="container">
	<div class="row">
		<div class="games col-xs-12 col-md-12">
			<% for(i=0; i<userGames.games.length; i++) { %>
				<% var str = userGames.games[i].name.replace(/\s/g, ''); %>
				<img src=/img/<%= str %>.png alt= <%= str %> class="img-circle game-logo">
			<% } %>

			<% if (mineProfile) { %>
				<img src="/img/add2.png" alt="add" class="img-circle game-logo add">
			<% } %>
		</div>
	</div>
	<div class="add-games row">
		<div class="col-md-2">
			<select required class="form-control game">
				<option value="" disabled selected hidden>Game name</option>
				<% for(i=0; i<games.length; i++) { %>
					<% var str = games[i].name.replace(/\s/g, ''); %>
					<option value= <%= str %> ><%= games[i].name %></option>
				<% } %>
			</select>
		</div>
		<div class="col-md-2">
			<select required class="form-control platform">
				<option value="" disabled selected hidden>Platform</option>
				
			</select>
		</div>
		<div class="col-md-2  col-xs-8 col-sm-10">
			<input placeholder="nick" type="text" class="form-control" name="nick">
		</div>
		<div class="col-xs-4 col-sm-2">
			<button class="glyphicon glyphicon-ok"></button>
			<button class="glyphicon glyphicon-remove"></button>
		</div>
	</div>
	<div class="row">
		<div class="over-table col-md-12 col-sm-12 col-xs-12 text-center">
			<table width="100%" class="table">
				<thead class="thead-inverse">
					<tr>
						<th class="text-center">Game</th>
						<th class="text-center">Nick</th>
						<th class="text-center">Platform</th>
						<th class="text-center">Region</th>
						<% if (mineProfile) { %>
							<th class="text-center">Action</th>
						<% } %>
					</tr>
					<tr>
						<% for(i=0; i<userGames.games.length; i++) { %>
							<% var str = userGames.games[i].name.replace(/\s/g, ''); %>
							<td class="text-center"><%=userGames.games[i].name%></td>
							<td class="text-center"><%=userGames.games[i].account%></td>
							<td class="text-center"><%=userGames.games[i].platform%></td>
							<td class="text-center"><%=userGames.games[i].region%></td>
						<% } %>
						
						<% if (mineProfile) { %>
							<td class="text-center">
								<button class="glyphicon glyphicon-remove"></button>					
							</td>
						<% } %>
					</tr>
				</thead>
			</table>
		</div>
	</div>
	<div class="row">
		<div id="logs" class="over-table col-md-8 col-sm-8 col-xs-12 text-center">
			<table width="100%" class="table">
				<thead class="thead-inverse">
					<tr> 
						<th class="text-center">Game</th>
						<th class="text-center">Mode</th>						
						<th class="text-center">Date</th>
						<% if (mineProfile) { %>
							<th class="text-center">Action</th>	
						<% } %>	
					</tr>
				</thead>
				<tbody>
					<tr class="more-history">
						<% if (mineProfile) { %>
							<td colspan="4" class="text-center more-history"><button class="more-history">More</button></td>
						<% } else { %>
							<td colspan="3" class="text-center more-history"><button class="more-history">More</button></td>
						<% } %>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="specific-log" class="over-table col-md-4 col-sm-4 col-xs-12">
			<table width="100%" class="table">
				<thead class="thead-inverse">
					<tr>
						<th colspan="2" class="text-center">Info</th>
					</tr>
					<tr> 
						<td class="">Game</td> 
						<td class="text-center game"></td>
					</tr>
					<tr> 
						<td class="">Mode</td> 
						<td class="text-center mode"></td>
					</tr>
					<tr> 
						<td class="">Your group</td>
						<td class="text-center your-group"></td> 
					</tr>
					<tr> 
						<td class="">Maximum group</td> 
						<td class="text-center maximum-group"></td>
					</tr>
					<tr> 
						<td class="">Rank</td> 
						<td class="text-center rank"></td>
					</tr>
					<tr> 
						<td class="">Platform</td> 
						<td class="text-center platform"></td>
					</tr>
					<tr> 
						<td class="">Region</td> 
						<td class="text-center region"></td>
					</tr>
					<tr> 
						<td class="">Start</td> 
						<td class="text-center start"></td>
					</tr>
					<tr> 
						<td class="">End</td> 
						<td class="text-center end"></td>
					</tr>
					<tr> 
						<td class="">Active</td> 
						<td class="text-center is-actv"></td>
					</tr>
					<tr> 
						<td class="">Success</td> 
						<td class="text-center is-success"></td>
					</tr>
					<tr>
						<td class="">Players</td> 
						<td class="text-center players">
							
						</td>
					</tr>
				</thead>
			</table>
		</div>
	</div>
	



<!--<p id="loading">
	<img src="images/loading.gif" alt="Loading…" />
</p>-->
</div><!-- /.container-fluid -->

</body>

</html>