<!doctype html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <title>ProjectI - Settings Page</title>
    <%- include('partial/head', {}); %>
    <script src="/js/settings.js"></script>
    
    <style>
    div.well {
        background-color: #16191d;
    }
    div.form {
        display: none;
        margin-left: 10px;
        margin-right: 10px;
    }
    div.displayName {
        margin-bottom: 10px;
    }
    div.displayName > button {
        margin: 0px;
        padding: 0px;
    }
    div.page-header {
        margin-top:0px;
    }
    </style>
</head>
<body>
<%- include('partial/navbar', {user: user, url: url, mineProfile: false}); %>
<div class="container-fluid">

    <div class="row col-xs-12 page-header text-center">
        <h1><span class="fa fa-cogs"></span> Account Settings</h1>
        <a href="/logout" class="btn btn-default btn-sm logout">Logout</a>
    </div>
    <div class="row col-sm-12 displayName">
        <div class="col-md-5  col-xs-10 col-sm-5">
            <input placeholder="<%=user%>" type="text" class="form-control" name="displayName">
        </div>
        <div class="col-md-1  col-xs-1 col-sm-1">
            <button class="glyphicon glyphicon-ok add btn btn-warning btn-md"></button>
        </div>
    </div>
    <div class="row col-sm-6">

        <div class="well text-center">
            <h3><span class="fa fa-user"></span> Local</h3>

            <% if (email) { %>
                <p>
                    <strong>email</strong>: <%= email %><br>
                </p>
                
                <a href="/unlink/local" class="btn btn-default">Unlink</a>
            <% } else { %>
                <button class="btn btn-default connect-local">Connect Local</button>
            <% } %>

        </div>


   
        <div class="well text-center">
            <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
            <% if (facebookToken) { %>
                <p>
                    <strong>name</strong>: <%= facebookName %><br>
                </p>
                <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
            <% } else { %>
                <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
            <% } %>

        </div>
           
    </div>
    <div class="row col-sm-6 form">
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <form action="/connect/local" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Add Local</button>
        </form>
    </div>
 

</div>
</body>
</html>
